<section id="add">
    <div class="jumbotron bg-primary text-center">
        <div class="form">
            <h3>Creaza un profil</h3>
            {{#each errors}}
            <div class="alert alert-danger">
                {{text}}
            </div>
            {{/each}}
            <div class="container">
                <div class="row justify-content-center">
                    <form action="{{url}}" method="{{mth}}">
                        <div class="form-group">
                            <label for="nume_client" class="float-left">Nume client:</label>
                            <input type="text" name="nume_client" class="form-control" id="nume_client"
                                placeholder="Introdu nume client" value='{{nume_client}}' maxlength="64" />
                        </div>
                        <div class="form-group">
                            <label for="tip_auto" class="float-left">Tip auto:</label>
                            <input type="text" name="tip_auto" class="form-control" id="tip_auto"
                                placeholder="Introdu tip auto" value='{{tip_auto}}' maxlength="48" />
                        </div>
                        <div class="form-group">
                            <label for="nr_inmatriculare" class="float-left">Numar inmatriculare:</label>
                            <input type="text" name="nr_inmatriculare" class="form-control" id="nr_inmatriculare"
                                placeholder="Enter a plate number" value='{{nr_inmatriculare}}' maxlength="15" />
                        </div>
                        <div class="form-group">
                            <label for="serie_caroserie" class="float-left">Serie caroserie:</label>
                            <input type="text" name="serie_caroserie" class="form-control" id="serie_caroserie"
                                placeholder="Introdu serie caroserie" value='{{serie_caroserie}}' maxlength='20' />
                        </div>
                        <div class="form-group">
                            <label for="serie_motor" class="float-left">Serie motor:</label>
                            <input type="text" name="serie_motor" class="form-control" id="serie_motor"
                                placeholder="Introdu serie motor" value='{{serie_motor}}' maxlength='20' />
                        </div>
                        <input type="submit" value="Salveaza profil" class="btn btn-secondary btn-block" />
                        <a href='/index' class='btn btn-block btn-outline-light'>Anuleaza</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>