<section id='addjobs'>
    <div class='jumbotron bg-primary text-center'>
        {{#each errors}}
        <div class="alert alert-danger">
            {{text}}
        </div>
        {{/each}}
        <div class="container">
            <form action='{{url}}' method='{{mth}}'>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="lucrari_sol" class="float-left">Lucrari solicitate:</label>
                            <input type="text" name="lucrari_sol1" class="form-control" id="lucrari_sol1"
                                placeholder="Lucrari solicitate" value='{{lucrari_sol1}}' maxlength="100" />
                            <input type="text" name="lucrari_sol2" class="form-control" id="lucrari_sol2"
                                placeholder="Lucrari solicitate" value='{{lucrari_sol2}}' maxlength="100" />
                            <input type="text" name="lucrari_sol3" class="form-control" id="lucrari_sol3"
                                placeholder="Lucrari solicitate" value='{{lucrari_sol3}}' maxlength="100" />
                            <input type="text" name="lucrari_sol4" class="form-control" id="lucrari_sol4"
                                placeholder="Lucrari solicitate" value='{{lucrari_sol4}}' maxlength="100" />
                            <input type="text" name="lucrari_sol5" class="form-control" id="lucrari_sol5"
                                placeholder="Lucrari solicitate" value='{{lucrari_sol5}}' maxlength="100" />
                            <label for='den_piesa_cl' class='float-left mt-3'>Denumire piese client: </label>
                            <input type='text' name='den_piesa_cl1' class='form-control' id='den_piesa_cl1'
                                placeholder='Piese client' value='{{den_piesa_cl1}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl2' class='form-control' id='den_piesa_cl2'
                                placeholder='Piese client' value='{{den_piesa_cl2}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl3' class='form-control' id='den_piesa_cl3'
                                placeholder='Piese client' value='{{den_piesa_cl3}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl4' class='form-control' id='den_piesa_cl4'
                                placeholder='Piese client' value='{{den_piesa_cl4}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl5' class='form-control' id='den_piesa_cl5'
                                placeholder='Piese client' value='{{den_piesa_cl5}}' maxlength="50" />
                            <label for='buc_piesa_cl' class='float-left mt-3'>Nr. bucati piese client</label>
                            <input type='text' name='buc_piesa_cl1' class='form-control' id='buc_piesa_cl1'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl1}}' />
                            <input type='text' name='buc_piesa_cl2' class='form-control' id='buc_piesa_cl2'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl2}}' />
                            <input type='text' name='buc_piesa_cl3' class='form-control' id='buc_piesa_cl3'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl3}}' />
                            <input type='text' name='buc_piesa_cl4' class='form-control' id='buc_piesa_cl4'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl4}}' />
                            <input type='text' name='buc_piesa_cl5' class='form-control' id='buc_piesa_cl5'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl5}}' />
                            <label for='def_suplimentare' class='float-left mt-3'>Defecte suplimentare:</label>
                            <input type='text' name='def_suplimentare1' class='form-control' id='def_suplimentare1'
                                placeholder='Defecte suplimentare' value='{{def_suplimentare1}}' />
                            <input type='text' name='def_suplimentare2' class='form-control' id='def_suplimentare2'
                                placeholder='Defecte suplimentare' value='{{def_suplimentare2}}' />
                            <label for='termen_executie' class='float-left mt-3'>Termen de executie:</label>
                            <input type='text' name='termen_executie' class='form-control' id='termen_executie'
                                placeholder='Termen de executie' value='{{termen_executie}}' />
                            <label for="denum_operatie" class="float-left mt-3">Lucrari convenite denumire
                                operatie:</label>
                            <input type="text" name="denum_operatie1" class="form-control" id="denum_operatie1"
                                placeholder="Denumire operatie" value='{{denum_operatie1}}' maxlength="64" />
                            <input type="text" name="denum_operatie2" class="form-control" id="denum_operatie2"
                                placeholder="Denumire operatie" value='{{denum_operatie2}}' maxlength="64" />
                            <input type="text" name="denum_operatie3" class="form-control" id="denum_operatie3"
                                placeholder="Denumire operatie" value='{{denum_operatie3}}' maxlength="64" />
                            <input type="text" name="denum_operatie4" class="form-control" id="denum_operatie4"
                                placeholder="Denumire operatie" value='{{denum_operatie4}}' maxlength="64" />
                            <input type="text" name="denum_operatie5" class="form-control" id="denum_operatie5"
                                placeholder="Denumire operatie" value='{{denum_operatie5}}' maxlength="64" />
                            <label for='kilometri' class='float-left mt-3'>Kilometri: </label>
                            <input type='text' name='kilometri' class='form-control' id='kilometri'
                                placeholder='Nr. kilometri' value='{{kilometri}}' />
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for='timp_operatie' class='float-left'>Lucrari convenite, timp operatie: </label>
                            <input type='text' name='timp_operatie1' class='form-control' id='timp_operatie1'
                                placeholder='Timp operatie' value='{{timp_operatie1}}' />
                            <input type='text' name='timp_operatie2' class='form-control' id='timp_operatie2'
                                placeholder='Timp operatie' value='{{timp_operatie2}}' />
                            <input type='text' name='timp_operatie3' class='form-control' id='timp_operatie3'
                                placeholder='Timp operatie' value='{{timp_operatie3}}' />
                            <input type='text' name='timp_operatie4' class='form-control' id='timp_operatie4'
                                placeholder='Timp operatie' value='{{timp_operatie4}}' />
                            <input type='text' name='timp_operatie5' class='form-control' id='timp_operatie5'
                                placeholder='Timp operatie' value='{{timp_operatie5}}' />
                            <label for='denum_piesa' class='float-left mt-3'>Denumire piesa:</label>
                            <input type='text' name='denum_piesa1' class='form-control' id='denum_piesa1'
                                placeholder='Denumire piesa' value='{{denum_piesa1}}' />
                            <input type='text' name='denum_piesa2' class='form-control' id='denum_piesa2'
                                placeholder='Denumire piesa' value='{{denum_piesa2}}' />
                            <input type='text' name='denum_piesa3' class='form-control' id='denum_piesa3'
                                placeholder='Denumire piesa' value='{{denum_piesa3}}' />
                            <input type='text' name='denum_piesa4' class='form-control' id='denum_piesa4'
                                placeholder='Denumire piesa' value='{{denum_piesa4}}' />
                            <input type='text' name='denum_piesa5' class='form-control' id='denum_piesa5'
                                placeholder='Denumire piesa' value='{{denum_piesa5}}' />
                            <input type='text' name='denum_piesa6' class='form-control' id='denum_piesa6'
                                placeholder='Denumire piesa' value='{{denum_piesa6}}' />
                            <input type='text' name='denum_piesa7' class='form-control' id='denum_piesa7'
                                placeholder='Denumire piesa' value='{{denum_piesa7}}' />
                            <input type='text' name='denum_piesa8' class='form-control' id='denum_piesa8'
                                placeholder='Denumire piesa' value='{{denum_piesa8}}' />
                            <input type='text' name='denum_piesa9' class='form-control' id='denum_piesa9'
                                placeholder='Denumire piesa' value='{{denum_piesa9}}' />
                            <input type='text' name='denum_piesa10' class='form-control' id='denum_piesa10'
                                placeholder='Denumire piesa' value='{{denum_piesa10}}' />
                            <input type='text' name='denum_piesa11' class='form-control' id='denum_piesa11'
                                placeholder='Denumire piesa' value='{{denum_piesa11}}' />
                            <input type='text' name='denum_piesa12' class='form-control' id='denum_piesa12'
                                placeholder='Denumire piesa' value='{{denum_piesa12}}' />
                            <input type='text' name='denum_piesa13' class='form-control' id='denum_piesa13'
                                placeholder='Denumire piesa' value='{{denum_piesa13}}' />
                            <input type='text' name='denum_piesa14' class='form-control' id='denum_piesa14'
                                placeholder='Denumire piesa' value='{{denum_piesa14}}' />
                            <input type='text' name='denum_piesa15' class='form-control' id='denum_piesa15'
                                placeholder='Denumire piesa' value='{{denum_piesa15}}' />
                            <input type='text' name='denum_piesa16' class='form-control' id='denum_piesa16'
                                placeholder='Denumire piesa' value='{{denum_piesa16}}' />
                            <input type='text' name='denum_piesa17' class='form-control' id='denum_piesa17'
                                placeholder='Denumire piesa' value='{{denum_piesa17}}' />
                            <input type='text' name='denum_piesa18' class='form-control' id='denum_piesa18'
                                placeholder='Denumire piesa' value='{{denum_piesa18}}' />
                            <input type='text' name='denum_piesa19' class='form-control' id='denum_piesa19'
                                placeholder='Denumire piesa' value='{{denum_piesa19}}' />
                            <input type='text' name='denum_piesa20' class='form-control' id='denum_piesa20'
                                placeholder='Denumire piesa' value='{{denum_piesa20}}' />
                            <label for='cant_piese' class='float-left mt-3'>Cantitate piese: </label>
                            <input type='text' name='cant_piese1' class='form-control' id='cant_piese1'
                                placeholder='Cantitate piese' value='{{cant_piese1}}' />
                            <input type='text' name='cant_piese2' class='form-control' id='cant_piese2'
                                placeholder='Cantitate piese' value='{{cant_piese2}}' />
                            <input type='text' name='cant_piese3' class='form-control' id='cant_piese3'
                                placeholder='Cantitate piese' value='{{cant_piese3}}' />
                            <input type='text' name='cant_piese4' class='form-control' id='cant_piese4'
                                placeholder='Cantitate piese' value='{{cant_piese4}}' />
                            <input type='text' name='cant_piese5' class='form-control' id='cant_piese5'
                                placeholder='Cantitate piese' value='{{cant_piese5}}' />
                            <input type='text' name='cant_piese6' class='form-control' id='cant_piese6'
                                placeholder='Cantitate piese' value='{{cant_piese6}}' />
                            <input type='text' name='cant_piese7' class='form-control' id='cant_piese7'
                                placeholder='Cantitate piese' value='{{cant_piese7}}' />
                            <input type='text' name='cant_piese8' class='form-control' id='cant_piese8'
                                placeholder='Cantitate piese' value='{{cant_piese8}}' />
                            <input type='text' name='cant_piese9' class='form-control' id='cant_piese9'
                                placeholder='Cantitate piese' value='{{cant_piese9}}' />
                            <input type='text' name='cant_piese10' class='form-control' id='cant_piese10'
                                placeholder='Cantitate piese' value='{{cant_piese10}}' />
                            <input type='text' name='cant_piese11' class='form-control' id='cant_piese11'
                                placeholder='Cantitate piese' value='{{cant_piese11}}' />
                            <input type='text' name='cant_piese12' class='form-control' id='cant_piese12'
                                placeholder='Cantitate piese' value='{{cant_piese12}}' />
                            <input type='text' name='cant_piese13' class='form-control' id='cant_piese13'
                                placeholder='Cantitate piese' value='{{cant_piese13}}' />
                            <input type='text' name='cant_piese14' class='form-control' id='cant_piese14'
                                placeholder='Cantitate piese' value='{{cant_piese14}}' />
                            <input type='text' name='cant_piese15' class='form-control' id='cant_piese15'
                                placeholder='Cantitate piese' value='{{cant_piese15}}' />
                            <input type='text' name='cant_piese16' class='form-control' id='cant_piese16'
                                placeholder='Cantitate piese' value='{{cant_piese16}}' />
                            <input type='text' name='cant_piese17' class='form-control' id='cant_piese17'
                                placeholder='Cantitate piese' value='{{cant_piese17}}' />
                            <input type='text' name='cant_piese18' class='form-control' id='cant_piese18'
                                placeholder='Cantitate piese' value='{{cant_piese18}}' />
                            <input type='text' name='cant_piese19' class='form-control' id='cant_piese19'
                                placeholder='Cantitate piese' value='{{cant_piese19}}' />
                            <input type='text' name='cant_piese20' class='form-control' id='cant_piese20'
                                placeholder='Cantitate piese' value='{{cant_piese20}}' />
                            <label for='pret_piesa' class='float-left mt-3'>Pret piesa: </label>
                            <input type='text' name='pret_piesa1' class='form-control' id='pret_piesa1'
                                placeholder='Pret piesa' value='{{pret_piesa1}}' />
                            <input type='text' name='pret_piesa2' class='form-control' id='pret_piesa2'
                                placeholder='Pret piesa' value='{{pret_piesa2}}' />
                            <input type='text' name='pret_piesa3' class='form-control' id='pret_piesa3'
                                placeholder='Pret piesa' value='{{pret_piesa3}}' />
                            <input type='text' name='pret_piesa4' class='form-control' id='pret_piesa4'
                                placeholder='Pret piesa' value='{{pret_piesa4}}' />
                            <input type='text' name='pret_piesa5' class='form-control' id='pret_piesa5'
                                placeholder='Pret piesa' value='{{pret_piesa5}}' />
                            <input type='text' name='pret_piesa6' class='form-control' id='pret_piesa6'
                                placeholder='Pret piesa' value='{{pret_piesa6}}' />
                            <input type='text' name='pret_piesa7' class='form-control' id='pret_piesa7'
                                placeholder='Pret piesa' value='{{pret_piesa7}}' />
                            <input type='text' name='pret_piesa8' class='form-control' id='pret_piesa8'
                                placeholder='Pret piesa' value='{{pret_piesa8}}' />
                            <input type='text' name='pret_piesa9' class='form-control' id='pret_piesa9'
                                placeholder='Pret piesa' value='{{pret_piesa9}}' />
                            <input type='text' name='pret_piesa10' class='form-control' id='pret_piesa10'
                                placeholder='Pret piesa' value='{{pret_piesa10}}' />
                            <input type='text' name='pret_piesa11' class='form-control' id='pret_piesa11'
                                placeholder='Pret piesa' value='{{pret_piesa11}}' />
                            <input type='text' name='pret_piesa12' class='form-control' id='pret_piesa12'
                                placeholder='Pret piesa' value='{{pret_piesa12}}' />
                            <input type='text' name='pret_piesa13' class='form-control' id='pret_piesa13'
                                placeholder='Pret piesa' value='{{pret_piesa13}}' />
                            <input type='text' name='pret_piesa14' class='form-control' id='pret_piesa14'
                                placeholder='Pret piesa' value='{{pret_piesa14}}' />
                            <input type='text' name='pret_piesa15' class='form-control' id='pret_piesa15'
                                placeholder='Pret piesa' value='{{pret_piesa15}}' />
                            <input type='text' name='pret_piesa16' class='form-control' id='pret_piesa16'
                                placeholder='Pret piesa' value='{{pret_piesa16}}' />
                            <input type='text' name='pret_piesa17' class='form-control' id='pret_piesa17'
                                placeholder='Pret piesa' value='{{pret_piesa17}}' />
                            <input type='text' name='pret_piesa18' class='form-control' id='pret_piesa18'
                                placeholder='Pret piesa' value='{{pret_piesa18}}' />
                            <input type='text' name='pret_piesa19' class='form-control' id='pret_piesa19'
                                placeholder='Pret piesa' value='{{pret_piesa19}}' />
                            <input type='text' name='pret_piesa20' class='form-control' id='pret_piesa20'
                                placeholder='Pret piesa' value='{{pret_piesa20}}' />
                            <label for='tarif_ora' class='float-left mt-3'>Tarif ora:</label>
                            <input type='text' name='tarif_ora' class='form-control' id='tarif_ora'
                                placeholder="Tarif/ora" value='120' />
                        </div>
                    </div>
                    <input type='submit' value='Salveaza' class='btn btn-block btn-secondary' />
                    <a href='/index/view/{{profile_id}}' class='btn btn-block btn-outline-secondary'>Anuleaza</a>
                </div>
            </form>
        </div>
    </div>

</section>