<section id='addjobs'>
    <div class='jumbotron bg-primary text-center'>
        {{#each errors}}
        <div class="alert alert-danger">
            {{text}}
        </div>
        {{/each}}
        <div class="container">
            <form action='{{url}}' method='{{mth}}'>
                <div class="row justify-content-center">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="lucrari_sol" class="float-left">Lucrari solicitate:</label>
                            <input type="text" name="lucrari_sol1" class="form-control" id="lucrari_sol1"
                                placeholder="Lucrari solicitate 1" value='{{lucrari_sol1}}' maxlength="100" />
                            <input type="text" name="lucrari_sol2" class="form-control" id="lucrari_sol2"
                                placeholder="Lucrari solicitate 2" value='{{lucrari_sol2}}' maxlength="100" />
                            <input type="text" name="lucrari_sol3" class="form-control" id="lucrari_sol3"
                                placeholder="Lucrari solicitate 3" value='{{lucrari_sol3}}' maxlength="100" />
                            <input type="text" name="lucrari_sol4" class="form-control" id="lucrari_sol4"
                                placeholder="Lucrari solicitate 4" value='{{lucrari_sol4}}' maxlength="100" />
                            <input type="text" name="lucrari_sol5" class="form-control" id="lucrari_sol5"
                                placeholder="Lucrari solicitate 5" value='{{lucrari_sol5}}' maxlength="100" />
                            <label for='den_piesa_cl' class='float-left mt-3'>Piese client: </label>
                            <input type='text' name='den_piesa_cl1' class='form-control' id='den_piesa_cl1'
                                placeholder='Piese client 1' value='{{den_piesa_cl1}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl2' class='form-control' id='den_piesa_cl2'
                                placeholder='Piese client 2' value='{{den_piesa_cl2}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl3' class='form-control' id='den_piesa_cl3'
                                placeholder='Piese client 3' value='{{den_piesa_cl3}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl4' class='form-control' id='den_piesa_cl4'
                                placeholder='Piese client 4' value='{{den_piesa_cl4}}' maxlength="50" />
                            <input type='text' name='den_piesa_cl5' class='form-control' id='den_piesa_cl5'
                                placeholder='Piese client 5' value='{{den_piesa_cl5}}' maxlength="50" />
                            <label for='buc_piesa_cl' class='float-left mt-3'>Nr. bucati piese client</label>
                            <input type='text' name='buc_piesa_cl1' class='form-control' id='buc_piesa_cl1'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl1}}' />
                            <input type='text' name='buc_piesa_cl2' class='form-control' id='buc_piesa_cl2'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl2}}' />
                            <input type='text' name='buc_piesa_cl3' class='form-control' id='buc_piesa_cl3'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl3}}' />
                            <input type='text' name='buc_piesa_cl4' class='form-control' id='buc_piesa_cl4'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl4}}' />
                            <input type='text' name='buc_piesa_cl5' class='form-control' id='buc_piesa_cl5'
                                placeholder='Buc. piesa client' value='{{buc_piesa_cl5}}' />
                            <label for='def_suplimentare' class='float-left mt-3'>Defecte suplimentare:</label>
                            <input type='text' name='def_suplimentare1' class='form-control' id='def_suplimentare1'
                                placeholder='Defecte suplimentare' value='{{def_suplimentare1}}' />
                            <input type='text' name='def_suplimentare2' class='form-control' id='def_suplimentare2'
                                placeholder='Defecte suplimentare' value='{{def_suplimentare2}}' />
                            <label for='termen_executie' class='float-left mt-3'>Termen de executie:</label>
                            <input type='text' name='termen_executie' class='form-control' id='termen_executie'
                                placeholder='Termen de executie' value='{{termen_executie}}' />
                            <label for="denum_operatie" class="float-left mt-3">Denumire operatie:</label>
                            <input type="text" name="denum_operatie1" class="form-control" id="denum_operatie1"
                                placeholder="Denumire operatie 1" value='{{denum_operatie1}}' maxlength="64" />
                            <input type="text" name="denum_operatie2" class="form-control" id="denum_operatie2"
                                placeholder="Denumire operatie 2" value='{{denum_operatie2}}' maxlength="64" />
                            <input type="text" name="denum_operatie3" class="form-control" id="denum_operatie3"
                                placeholder="Denumire operatie 3" value='{{denum_operatie3}}' maxlength="64" />
                            <input type="text" name="denum_operatie4" class="form-control" id="denum_operatie4"
                                placeholder="Denumire operatie 4" value='{{denum_operatie4}}' maxlength="64" />
                            <input type="text" name="denum_operatie5" class="form-control" id="denum_operatie5"
                                placeholder="Denumire operatie 5" value='{{denum_operatie5}}' maxlength="64" />
                            <label for='kilometri' class='float-left mt-3'>Kilometri: </label>
                            <input type='text' name='kilometri' class='form-control' id='kilometri'
                                placeholder='Nr. kilometri' value='{{kilometri}}' />
                        </div>

                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for='timp_operatie' class='float-left'>Timp operatie: </label>
                            <input type='text' name='timp_operatie1' class='form-control' id='timp_operatie1'
                                placeholder='Timp operatie' value='{{timp_operatie1}}' />
                            <input type='text' name='timp_operatie2' class='form-control' id='timp_operatie2'
                                placeholder='Timp operatie' value='{{timp_operatie2}}' />
                            <input type='text' name='timp_operatie3' class='form-control' id='timp_operatie3'
                                placeholder='Timp operatie' value='{{timp_operatie3}}' />
                            <input type='text' name='timp_operatie4' class='form-control' id='timp_operatie4'
                                placeholder='Timp operatie' value='{{timp_operatie4}}' />
                            <input type='text' name='timp_operatie5' class='form-control' id='timp_operatie5'
                                placeholder='Timp operatie' value='{{timp_operatie5}}' />
                            <label for='valoare_lei' class='float-left mt-3'>Valoare lei:</label>
                            <input type='text' name='valoare_lei1' class='form-control' id='valoare_lei1'
                                placeholder='Valoare lei' value='{{valoare_lei1}}' />
                            <input type='text' name='valoare_lei2' class='form-control' id='valoare_lei2'
                                placeholder='Valoare lei' value='{{valoare_lei2}}' />
                            <input type='text' name='valoare_lei3' class='form-control' id='valoare_lei3'
                                placeholder='Valoare lei' value='{{valoare_lei3}}' />
                            <input type='text' name='valoare_lei4' class='form-control' id='valoare_lei4'
                                placeholder='Valoare lei' value='{{valoare_lei4}}' />
                            <input type='text' name='valoare_lei5' class='form-control' id='valoare_lei5'
                                placeholder='Valoare lei' value='{{valoare_lei5}}' />
                            <label for='denum_piesa' class='float-left mt-3'>Denumire piesa:</label>
                            <input type='text' name='denum_piesa1' class='form-control' id='denum_piesa1'
                                placeholder='Denumire piesa' value='{{denum_piesa1}}' />
                            <input type='text' name='denum_piesa2' class='form-control' id='denum_piesa2'
                                placeholder='Denumire piesa' value='{{denum_piesa2}}' />
                            <input type='text' name='denum_piesa3' class='form-control' id='denum_piesa3'
                                placeholder='Denumire piesa' value='{{denum_piesa3}}' />
                            <input type='text' name='denum_piesa4' class='form-control' id='denum_piesa4'
                                placeholder='Denumire piesa' value='{{denum_piesa4}}' />
                            <input type='text' name='denum_piesa5' class='form-control' id='denum_piesa5'
                                placeholder='Denumire piesa' value='{{denum_piesa5}}' />
                            <label for='cant_piese' class='float-left mt-3'>Cantitate piese: </label>
                            <input type='text' name='cant_piese1' class='form-control' id='cant_piese1'
                                placeholder='Cantitate piese' value='{{cant_piese1}}' />
                            <input type='text' name='cant_piese2' class='form-control' id='cant_piese2'
                                placeholder='Cantitate piese' value='{{cant_piese2}}' />
                            <input type='text' name='cant_piese3' class='form-control' id='cant_piese3'
                                placeholder='Cantitate piese' value='{{cant_piese3}}' />
                            <input type='text' name='cant_piese4' class='form-control' id='cant_piese4'
                                placeholder='Cantitate piese' value='{{cant_piese4}}' />
                            <input type='text' name='cant_piese5' class='form-control' id='cant_piese5'
                                placeholder='Cantitate piese' value='{{cant_piese5}}' />
                            <label for='pret_piesa' class='float-left mt-3'>Pret piesa: </label>
                            <input type='text' name='pret_piesa1' class='form-control' id='pret_piesa1'
                                placeholder='Pret piesa' value='{{pret_piesa1}}' />
                            <input type='text' name='pret_piesa2' class='form-control' id='pret_piesa2'
                                placeholder='Pret piesa' value='{{pret_piesa2}}' />
                            <input type='text' name='pret_piesa3' class='form-control' id='pret_piesa3'
                                placeholder='Pret piesa' value='{{pret_piesa3}}' />
                            <input type='text' name='pret_piesa4' class='form-control' id='pret_piesa4'
                                placeholder='Pret piesa' value='{{pret_piesa4}}' />
                            <input type='text' name='pret_piesa5' class='form-control' id='pret_piesa5'
                                placeholder='Pret piesa' value='{{pret_piesa5}}' />
                            <label for='tarif_ora' class='float-left mt-3'>Tarif ora:</label>
                            <input type='text' name='tarif_ora' class='form-control' id='tarif_ora'
                                placeholder="Tarif/ora" value='80' />
                        </div>
                    </div>
                    <input type='submit' value='Salveaza' class='btn btn-block btn-secondary' />
                    <a href='/index/view/{{profile_id}}' class='btn btn-block btn-outline-secondary'>Anuleaza</a>
                </div>
            </form>
        </div>
    </div>


</section>