<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body style="background-color: white;color:#333">
    <div id="deviz" style="background-color: white">
        <!-- inceput -->
        <div class="unitate ml-5 mt-4">Unitatea: Service Cris&Jon S.R.L.</div>
        <div class="deviz mt-3">
            <h4 class="float-left ml-5">Comanda-Deviz nr.: {{ jResult.0.job_id }}</h4>
            <h4 class="float-right mr-5">DATA: {{ parseData jResult.0.data_adaugare }}</h4>
        </div>
        <table style="width:100%" class="ml-5">
            <tr>
                <td style="width:50%">Tip auto: {{ firstUpper pResult.0.tip_auto }}</td>
                <td style="width:50%">Nr. inmatriculare: {{ pResult.0.nr_inmatriculare }}</td>
            </tr>
            <tr>
                <td>Client: {{ firstUpper pResult.0.nume_client }}</td>
                <td>Serie caroserie: {{ pResult.0.serie_caroserie }}</td>
            </tr>
            <tr>
                <td>kilometri: {{ jResult.0.kilometri }}</td>
                <td>Serie Motor: {{ pResult.0.serie_motor }}</td>
            </tr>
        </table>

        <!-- tabel lucrari solicitate -->
        <div class="row mt-3">
            <div class="col-sm ml-5">
                <table style="width:90%">
                    <tr>
                        <th style="border-bottom: 2px solid">
                            Lucrari solicitate de client
                        </th>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid">1. {{ tableRes jResult.0.lucrari_sol 0 }}</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid">2. {{ tableRes jResult.0.lucrari_sol 1 }}</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid">3. {{ tableRes jResult.0.lucrari_sol 2 }}</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid">4. {{ tableRes jResult.0.lucrari_sol 3 }}</td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 2px solid">5. {{ tableRes jResult.0.lucrari_sol 4 }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-sm mr-5">
                <table style="width:100%">
                    <tr>
                        <th style="border-bottom: 2px solid">
                            Piese client: (Garantia pieselor este asigurata numai de
                            furnizor)
                        </th>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">Denumirea</td>
                        <td style="border:2px solid">Bucati</td>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">{{ tableRes jResult.0.den_piesa_cl 0 }}</td>
                        <td style="border:2px solid">{{ tableRes jResult.0.buc_piesa_cl 0 }} &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">{{ tableRes jResult.0.den_piesa_cl 1 }}</td>
                        <td style="border:2px solid">{{ tableRes jResult.0.buc_piesa_cl 1 }} &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">{{ tableRes jResult.0.den_piesa_cl 2 }}</td>
                        <td style="border:2px solid">{{ tableRes jResult.0.buc_piesa_cl 2 }} &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">{{ tableRes jResult.0.den_piesa_cl 3 }}</td>
                        <td style="border:2px solid">{{ tableRes jResult.0.buc_piesa_cl 3 }} &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border:2px solid;width:70%">{{ tableRes jResult.0.den_piesa_cl 4 }}</td>
                        <td style="border:2px solid">{{ tableRes jResult.0.buc_piesa_cl 4 }} &nbsp;</td>
                    </tr>
                </table>
            </div>
        </div>

        <!-- tabel defecte -->
        <div class="row mt-3">
            <div class="col-sm ml-5 mr-5">
                <table style="width:100%">
                    <tr>
                        <th style="width:70%;border-top: 2px solid;border-left:2px solid;border-right:2px solid">
                            Defecte suplimentare constatate in timpul reparatiei
                        </th>
                        <th style="width:30%; border-top:2px solid;border-right: 2px solid">
                            Accept client
                        </th>
                    </tr>
                    <tr>
                        <td style="border-right: 2px solid;border-left:2px solid;
              border-bottom: 1px solid">
                            {{ tableRes jResult.0.def_suplim 0 }}&nbsp;
                        </td>
                        <td style="border-right:2px solid"></td>
                    </tr>
                    <tr>
                        <td style="border-right: 2px solid;border-left:2px solid;
                border-bottom: 1px solid">
                            {{ tableRes jResult.0.def_suplim 1 }}&nbsp;
                        </td>
                        <td style="border-right:2px solid"></td>
                    </tr>
                    <tr>
                        <td style="border-right:2px solid;border-left:2px solid;border-top:2px solid">
                            &nbsp;
                        </td>
                        <td style="border-top:2px solid;border-right: 2px solid">
                            Accept client/semnatura
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right:2px solid; border-left: 2px solid;border-bottom:2px solid">
                            Termen de executie(estimativ): {{ jResult.0.termen_executie }} Ore
                        </td>
                        <td style="border-bottom:2px solid; border-right:2px solid"></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- tabel lucrari convenite -->
        <div class="mt-4 mr-5 ml-5">
            <table style="width: 100%" class="text-center">
                <tr>
                    <th style="border-bottom:1px solid" colspan="2">
                        Lucrari convenite cu clientul si executate
                    </th>
                </tr>
                <tr>
                    <th style="border:2px solid;width:10%">Nr. crt.</th>
                    <th style="border:2px solid;width:60%">Denmirea operatiei</th>
                    <th style="border:2px solid;width:10%">Timp ore</th>
                    <th style="border:2px solid;width:10%">Tarif ora</th>
                    <th style="border:2px solid;width:10%">Valoare lei</th>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">1</td>
                    <td style="border:2px solid;width:60%">{{ tableRes jResult.0.denum_operatie 0 }}</td>
                    <td style="border:2px solid;width:10%">{{ tableRes jResult.0.timp_operatie 0 }}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[0]}}{{ jResult.0.tarif_ora }} lei
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[0] }}{{ valoare_leiEx.[0] }} lei
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">2</td>
                    <td style="border:2px solid;width:60%">{{ tableRes jResult.0.denum_operatie 1 }}</td>
                    <td style="border:2px solid;width:10%">{{ tableRes jResult.0.timp_operatie 1 }}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[1]}}{{ jResult.0.tarif_ora }} lei
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[1] }}{{ valoare_leiEx.[1] }} lei
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">3</td>
                    <td style="border:2px solid;width:60%">{{ tableRes jResult.0.denum_operatie 2 }}</td>
                    <td style="border:2px solid;width:10%">{{ tableRes jResult.0.timp_operatie 2 }}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[2]}}{{ jResult.0.tarif_ora }} lei
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[2] }}{{ valoare_leiEx.[2] }} lei
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">4</td>
                    <td style="border:2px solid;width:60%">{{ tableRes jResult.0.denum_operatie 3 }}</td>
                    <td style="border:2px solid;width:10%">{{ tableRes jResult.0.timp_operatie 3 }}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[3]}}{{ jResult.0.tarif_ora }} lei
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[3] }}{{ valoare_leiEx.[3] }} lei
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">5</td>
                    <td style="border:2px solid;width:60%">{{ tableRes jResult.0.denum_operatie 4 }}</td>
                    <td style="border:2px solid;width:10%">{{ tableRes jResult.0.timp_operatie 4 }}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[4]}}{{ jResult.0.tarif_ora }} lei
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{#if valoare_leiEx.[4] }}{{ valoare_leiEx.[4] }} lei
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%" colspan="2">
                        Regie manopera
                    </td>
                    <td style="border:2px solid;width:10%">{{ total_ore_operatie }} ore</td>
                    <td style="border:2px solid;width:10%"></td>
                    <td style="border:2px solid;width:10%">{{total_cost_val}} lei</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%" colspan="2">
                        Total
                    </td>
                    <td style="border:2px solid;width:10%">- {{!- Aici lipseste ceva}}</td>
                    <td style="border:2px solid;width:10%"></td>
                    <td style="border:2px solid;width:10%">- {{!- Aici lipseste ceva}}</td>
                </tr>
            </table>
        </div>

        <!-- tabel piese materiale -->
        <div class="mt-4 mr-5 ml-5">
            <table style="width:100%" class="text-center">
                <tr>
                    <th style="border-bottom:1px solid" colspan="2">
                        Piese/materiale
                    </th>
                </tr>
                <tr>
                    <th style="border:2px solid;width:10%">Nr. crt.</th>
                    <th style="border:2px solid;width:50%">Denmirea piesa/material</th>
                    <th style="border:2px solid;width:10%">U/M</th>
                    <th style="border:2px solid;width:10%">Cantitate</th>
                    <th style="border:2px solid;width:10%">Pret unitar</th>
                    <th style="border:2px solid;width:10%">Valoare</th>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">1</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 0 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[0]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 0}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 0}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[0]}} {{ val_totala_piese.[0] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">2</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 1 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[1]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 1}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 1}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[1]}} {{ val_totala_piese.[1] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">3</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 2 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[2]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 2}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 2}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[2]}} {{ val_totala_piese.[2] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">4</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 3 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[3]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 3}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 3}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[3]}} {{ val_totala_piese.[3] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">5</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 4 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[4]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 4}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 4}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[4]}} {{ val_totala_piese.[4] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">6</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 5 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[5]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 5}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 5}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[5]}} {{ val_totala_piese.[5] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">7</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 6 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[6]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 6}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 6}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[6]}} {{ val_totala_piese.[6] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">8</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 7 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[7]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 7}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 7}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[7]}} {{ val_totala_piese.[7] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">9</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 8 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[8]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 8}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 8}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[8]}} {{ val_totala_piese.[8] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%">10</td>
                    <td style="border:2px solid;width:50%">{{ tableRes jResult.0.denum_piesa 9 }}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[9]}} BUC
                        {{else}} &nbsp; {{/if}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.cant_piese 9}}</td>
                    <td style="border:2px solid;width:10%">{{tableRes jResult.0.pret_piesa 9}}</td>
                    <td style="border:2px solid;width:10%">{{#if val_totala_piese.[9]}} {{ val_totala_piese.[9] }}
                        {{else}} &nbsp; {{/if}}</td>
                </tr>
                <tr>
                    <td style="border:2px solid;width:10%" colspan="2">
                        Regie manopera
                    </td>
                    <td style="border:2px solid;width:10%"></td>
                    <td style="border:2px solid;width:10%"></td>
                    <td style="border:2px solid;width:10%">{{valoare_totala_piese}}</td>
                    <td style="border:2px solid;width:10%">{{ valoare }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">Total manopera</td>
                    <td style="border-bottom:1px solid">{{total_cost_val}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2">Total materiale</td>
                    <td style="border-bottom:1px solid">{{total_materiale}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td colspan="2"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="border:2px solid">Total: </td>
                    <td colspan="2" style="border:2px solid">{{total_plata_ftva}}
                    <td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="border:2px solid">TVA: </td>
                    <td colspan="2" style="border:2px solid">{{total_tva}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="border:2px solid">Total plata: </td>
                    <td colspan="2" style="border:2px solid">{{total_plata}}</td>
                </tr>
            </table>
        </div>
        <div class='mt-5'>&nbsp;</div>
        <div class='mt-5'>&nbsp;</div>
        <div class='mt-5'>&nbsp;</div>
        <div class='mt-5'>&nbsp;</div>
        <div class='text mt-5 mr-5 ml-5'>
            <p class='text-center'>************CERTIFICAT DE CALITATE SI GARANTIE************</p>
            <p class='text-left'>Unitatea service garanteaza lucrarea executata*) si conformitatea acesteia**), potrivit
                L. 449/2003 si L. i 296/2004,</p>
            <p class='text-left'>* 3 luni de la data receptiei autovehiculului, daca lucrarea nu a necesitat inlocuiri
                de piese sau daca s-a executat cu piesa clientului</p>
            <p class='text-left'>** Garantia pieselor furnizate de unitate, in baza L. 449/2003 - conf. declaratiei
                producatorului prin conventie intre parti conditionat de resp. indicatiilor de exploatare prevazute de
                producatorul autovehiculului este de <b>3 luni</b></p>
            <p class='text-left'>*** La cererea beneficiarului unitatea va asigura vizualizarea activitatilor
                desfasurate si inregistrari care sa dovedeasca efectuarea inspectiilor finale</p>
            <p class='text-left'> Accept / solicit utilizarea pieselor reconditionate, reparate, reutilizabile ____</p>
            <p class='float-left mt-4'>Sef unitate, <br></p>
            <p class='float-right mt-4'>Client,<br> {{pResult.0.nume_client}}</p>
        </div>
    </div>
    <script>
        window.onload = () => {
            window.print();
        }
    </script>
</body>

</html>