<section id='results content'>
    <h1>All results</h1>

    {{#each results}}

    <div class="container-fluid">
        <div class="card text-white mb-3 " style="background:rgba(45, 186, 252, 0.5)">
            <div class="card-header float-left">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{nume}}</h3>
                    </div>
                    <div class="col-sm-6">
                        <a href="#" class="btn btn-danger float-right mr-3 mt-1">Sterge</a>
                        <a href="#" class="btn btn-primary float-right mr-3 mt-1">Editeaza</a>
                        <a href="#" class="btn btn-primary float-right mr-3 mt-1">Vezi mai mult</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <h4 class="card-title">Model masina: {{model_masina}}</h4>
                        <h4 class="card-title">Nr. inmatriculare: {{nr_inmatriculare}}</h4>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="card-title">Cost: {{cost}}</h4>
                    </div>
                    <div class="col-sm-3">
                        <h4 class="card-title">Data: {{data_adaug}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <p>Nu sunt rezultate</p>
    {{/each}}
</section>