<section id='results content'>
    <div class=''>
        <form class="form-inline my-2 my-lg-0 mb-lg-5 align-right" action='/index/' method="POST">
            <input class="form-control mr-sm-5" type="text" placeholder="Cauta" name='searchQuery'>
            <label class='mr-2'>Cautare dupa: </label>
            <select class="custom-select mr-sm-5" name='searchParam'>
                <option value="nume_client">Nume</option>
                <option value="nr_inmatriculare">Nr. inmatriculare</option>
                <option value="tip_auto">Tip auto</option>
            </select>
            {{!-- <label class='mr-2'>Aranjare dupa: </label>
            <select class='custom-select mr-sm-2' name='orderParam'>
                <option value='data'>Date</option>
                <option value='cost'>Cost</option>
            </select> --}}
            <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i
                    class="fas fa-search mr-sm-2"></i><b>Cauta</b></button>
        </form>
    </div>

    <h1 class=''>Rezultate</h1>
    {{#each results}}

    <div class="container-fluid">
        <div class="card text-white mb-3 " style="background:rgba(45, 186, 252, 0.5)">
            <div class="card-header float-left">
                <div class="row">
                    <div class="col-sm-6">
                        <h3>{{firstUpper nume_client}}</h3>
                    </div>
                    <div class="col-sm-6">
                        <a href="/remove/profile/{{profile_id}}" class="btn btn-danger float-right mr-3 mt-1">Sterge</a>
                        <a href="/edit/profile/{{profile_id}}" class="btn btn-primary float-right mr-3 mt-1">Editare</a>
                        <a href="/index/view/{{profile_id}}" class="btn btn-primary float-right mr-3 mt-1">Vezi
                            lucrari</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h4 class="card-title">Tip auto: {{firstUpper tip_auto}}</h4>
                        <h4 class="card-title">Numar inmatriculare: {{nr_inmatriculare}}</h4>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="card-title">Serie caroserie: {{serie_caroserie}}</h4>
                        <h4 class="card-title">Serie motor: {{serie_motor}}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{else}}
    <p>Nu sunt rezultate</p>
    {{/each}}
</section>