<section id='viewJob'>
    <div class="jumbotron bg-primary" style='padding-left:0px; padding-right:0px; padding-bottom:1rem'>
        <div class="row justify-content-center text-center">
            <div class="col-sm-6">
                <h3 class='text-left ml-sm-2'>Nume client: {{ nume_client }}</h3>
                <h3 class='text-left ml-sm-2'>Tip auto: {{ tip_auto }}</h3>
                <h3 class='text-left ml-sm-2'>Numar inmatriculare: {{nr_inmatriculare}}</h3>
            </div>
            <div class="col-sm-6">
                <h3 class='text-left ml-sm-2'> Serie caroserie: {{ serie_caroserie }}</h3>
                <h3 class='text-left ml-sm-2'> Serie motor: {{ serie_motor }}</h3>
            </div>
        </div>
        <hr>
        <div class='text-right'>
            <a href='/index/view/{{profile_id}}/addjobs' class='btn btn-secondary btn-lg mr-3'>Adauga lucrare
                service</a>
        </div>

        <table class='table table-hover'>
            <thead>
                <tr class='table-primary'>
                    <th scope='col' class='text-center'>Deviz</th>
                    <th scope='col' class='text-center'>Data</th>
                    <th scope='col' class='text-center'>Kilometri</th>
                    <th scope='col' class='text-center'>Operatie</th>
                    <th scope='col' class='text-center'>Actiuni</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr class='table-primary'>
                    <th scope="row" class='text-center'>{{ job_id}}</th>
                    <td class='text-center'>{{ data_adaugata }}</td>
                    <td class='text-center'>{{ kilometri }}</td>
                    <td class='text-center'>{{ denum_operatie }}</td>
                    <td class='text-right'>
                        <a href='/index/deletejobs/{{job_id}}?profile={{profile_id}}' class='btn btn-danger'>Sterge</a>
                        <a href='/index/editjbos/{{job_id}}' class='btn btn-secondary'>Editeaza</a>
                        <a href='/index/viewjobs/{{job_id}}' class='btn btn-secondary'>Vezi mai mult</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>




</section>