<section id='viewjobs'>
    <div class="jumbotron bg-primary" style='margin-top:0px;padding-top:0.5rem'>
        <div class='buttons float-right'>
            <a href='/index/view/{{profile_id}}' class='btn btn-secondary btn-lg'>Inapoi</a>
            <a href='/edit/jobs/{{job_id}}?profile={{profile_id}}&source=jobs'
                class='btn btn-secondary btn-lg'>Editeaza</a>
            <a href='/index/raport/{{job_id}}?profile={{profile_id}}' target='_blank'
                class='btn btn-secondary btn-lg'>Genereaza raport</a>
        </div>
        <hr class='mt-lg-5'>
        <h4>Deviz {{job_id}}</h4>
        <h4>{{parseData result.0.data_adaugare}}</h4>
        <div class="row justify-content-center" id='canvas'>
            <table style='width:100%;text-align:center'>
                <tr>
                    <th style='border:2px solid;width:15%'>Lucrari solicitate</th>
                    <td style='border:2px solid;width:35%'>{{tableRes result.[0].lucrari_sol 0}} &nbsp;</td>
                    <th style='border:2px solid;width:15%'>Denumire piese client</th>

                    <td style='border:2px solid;width:35%'>{{tableRes result.[0].den_piesa_cl 0}}</td>
                </tr>
                <tr>
                    <td style='border:1px solid'></td>
                    <td style="border:1px solid">{{tableRes result.[0].lucrari_sol 1}} &nbsp;</td>
                    <td style="border:1px solid"> </td>
                    <td style="border:1px solid">{{tableRes result.[0].den_piesa_cl 1}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.[0].lucrari_sol 2}} &nbsp;</td>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.[0].den_piesa_cl 2}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.[0].lucrari_sol 3}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{tableRes result.[0].den_piesa_cl 3}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.[0].lucrari_sol 4}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{tableRes result.[0].den_piesa_cl 4}}</td>
                </tr>
                <tr>
                    <th style="border:2px solid">Nr. piese client(buc)</td>
                    <td style="border:2px solid">{{tableRes result.[0].buc_piesa_cl 0}} &nbsp;</td>
                    <th style='border:2px solid'>Defecte suplimentare</td>
                    <td style='border:2px solid'>{{tableRes result.[0].def_suplim 0}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.0.buc_piesa_cl 1}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{tableRes result.[0].def_suplim 1}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.0.buc_piesa_cl 2}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>&nbsp;</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.0.buc_piesa_cl 3}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>&nbsp;</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{tableRes result.0.buc_piesa_cl 4}} &nbsp;</td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>&nbsp;</td>
                </tr>
                <tr>
                    <th style="border:2px solid">Termen executie</th>
                    <td style="border:2px solid">{{result.0.termen_executie}} ore</td>
                    <th style='border:2px solid'>Kilometri</th>
                    <td style='border:2px solid'>{{result.0.kilometri}}</td>
                </tr>
                <tr>
                    <th style="border:2px solid">Lucrari convenite<br>Denumire operatie</th>
                    <td style="border:2px solid">{{tableRes result.0.denum_operatie 0}} &nbsp;</td>
                    <th style='border:2px solid'>Lucrari convenite<br>Timp operatie(ore)</th>
                    <td style='border:2px solid'>{{tableRes result.0.timp_operatie 0}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_operatie 1}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.timp_operatie 1}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_operatie 2}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.timp_operatie 2}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_operatie 3}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.timp_operatie 3}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_operatie 4}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.timp_operatie 4}}</td>
                </tr>
                <tr>
                    <th style="border:2px solid">Denumire piesa</th>
                    <td style="border:2px solid">{{tableRes result.0.denum_piesa 0}} &nbsp;</td>
                    <th style='border:2px solid'>Cantitate piese</th>
                    <td style='border:2px solid'>{{tableRes result.0.cant_piese 0}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 1}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 1}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 2}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 2}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 3}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 3}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 4}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 4}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 5}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 5}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 6}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 6}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 7}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 7}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 8}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 8}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 9}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 9}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 10}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 10}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 11}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 11}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 12}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 12}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 13}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 13}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 14}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 14}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 15}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 15}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 16}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 16}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 17}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 17}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 18}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 18}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.denum_piesa 19}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{tableRes result.0.cant_piese 19}}</td>
                </tr>
                <tr>
                    <th style="border:2px solid">Pret piesa</th>
                    <td style="border:2px solid">{{tableRes result.0.pret_piesa 0}} &nbsp;</td>
                    <th style='border:2px solid'></th>
                    <td style='border:2px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 1}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 2}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 3}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 4}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 5}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 6}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 7}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 8}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 9}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 10}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 11}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 12}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 13}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 14}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 15}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 16}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 17}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 18}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{tableRes result.0.pret_piesa 19}} &nbsp;</td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
            </table>
        </div>
    </div>
</section>