<section id='viewjobs'>
    <div class="jumbotron bg-primary" style='margin-top:0px;padding-top:0.5rem'>
        <div class='buttons float-right'>
            <a href='/index/view/{{profile_id}}' class='btn btn-secondary btn-lg'>Inapoi</a>
            <a href='/index/editjobs/{{job_id}}?profile={{profile_id}}&source=jobs'
                class='btn btn-secondary btn-lg'>Editeaza</a>
            <input type='button' id='btn' value='Genereaza raport' class='btn btn-lg btn-secondary' onclick='genRap()'>
        </div>
        <hr class='mt-lg-5'>
        <h4>Deviz {{job_id}}</h4>
        <h4>{{parseData data_adaugare}}</h4>
        <div class="row justify-content-center" id='canvas'>
            <table style='width:100%;text-align:center'>
                <tr>
                    <th style='border:1px solid;width:15%'>Lucrari solicitate</th>
                    <td style='border:1px solid;width:35%'>{{#if lucrari_sol1}}{{firstUpper lucrari_sol1}}{{else}}Nu
                        exista{{/if}}</td>
                    <th style='border:1px solid;width:15%'>Denumire piese client</th>

                    <td style='border:1px solid;width:35%'>{{#if den_piesa_cl1}}{{firstUpper den_piesa_cl1}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style='border:1px solid'></td>
                    <td style="border:1px solid">{{#if lucrari_sol2}}{{firstUpper lucrari_sol2}}{{else}}Nu exista{{/if}}
                    </td>
                    <td style="border:1px solid"> </td>
                    <td style="border:1px solid">{{#if den_piesa_cl2}}{{firstUpper den_piesa_cl2}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if lucrari_sol3}}{{firstUpper lucrari_sol3}}{{else}}Nu exista{{/if}}
                    </td>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if den_piesa_cl3}}{{firstUpper den_piesa_cl3}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if lucrari_sol4}}{{firstUpper lucrari_sol4}}{{else}}Nu exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if den_piesa_cl4}}{{firstUpper den_piesa_cl4}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if lucrari_sol5}}{{firstUpper lucrari_sol5}}{{else}}Nu exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if den_piesa_cl5}}{{firstUpper den_piesa_cl5}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid">Nr. piese client</td>
                    <td style="border:1px solid">{{#if buc_piesa_cl1}}{{firstUpper buc_piesa_cl1}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'>Defecte suplimentare</td>
                    <td style='border:1px solid'>{{#if def_suplimentare1}}{{firstUpper def_suplimentare1}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if buc_piesa_cl2}}{{firstUpper buc_piesa_cl2}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if def_suplimentare2}}{{firstUpper def_suplimentare2}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if buc_piesa_cl3}}{{firstUpper buc_piesa_cl3}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if def_suplimentare3}}{{firstUpper def_suplimentare3}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if buc_piesa_cl4}}{{firstUpper buc_piesa_cl4}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if def_suplimentare4}}{{firstUpper def_suplimentare4}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <td style="border:1px solid"></td>
                    <td style="border:1px solid">{{#if buc_piesa_cl5}}{{firstUpper buc_piesa_cl5}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <td style='border:1px solid'></td>
                    <td style='border:1px solid'>{{#if def_suplimentare5}}{{firstUpper def_suplimentare5}}{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid">Termen executie</th>
                    <td style="border:1px solid">{{#if termen_executie}}{{termen_executie}} ore{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'>Kilometri</th>
                    <td style='border:1px solid'>{{#if kilometri}}{{kilometri}} km{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid">Lucrari convenite<br>Denumire operatie</th>
                    <td style="border:1px solid">{{#if denum_operatie1}}{{firstUpper denum_operatie1}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'>Lucrari convenite<br>Timp operatie</th>
                    <td style='border:1px solid'>{{#if timp_operatie1}}{{firstUpper timp_operatie1}} ore{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_operatie2}}{{firstUpper denum_operatie2}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if timp_operatie2}}{{firstUpper timp_operatie2}} ore{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_operatie3}}{{firstUpper denum_operatie3}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if timp_operatie3}}{{firstUpper timp_operatie3}} ore{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_operatie4}}{{firstUpper denum_operatie4}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if timp_operatie4}}{{firstUpper timp_operatie4}} ore{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_operatie5}}{{firstUpper denum_operatie5}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if timp_operatie5}}{{firstUpper timp_operatie5}} ore{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid">Denumire piesa</th>
                    <td style="border:1px solid">{{#if denum_piesa1}}{{firstUpper denum_piesa1}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'>Cantitate piese</th>
                    <td style='border:1px solid'>{{#if cant_piese1}}{{cant_piese1}} buc{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_piesa2}}{{firstUpper denum_piesa2}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if cant_piese2}}{{cant_piese2}} buc{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_piesa3}}{{firstUpper denum_piesa3}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if cant_piese3}}{{cant_piese3}} buc{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_piesa4}}{{firstUpper denum_piesa4}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if cant_piese4}}{{cant_piese4}} buc{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if denum_piesa5}}{{firstUpper denum_piesa5}}{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'>{{#if cant_piese5}}{{cant_piese5}} buc{{else}}Nu
                        exista{{/if}}</td>
                </tr>
                <tr>
                    <th style="border:1px solid">Pret piesa</th>
                    <td style="border:1px solid">{{#if pret_piesa1}}{{firstUpper pret_piesa1}} lei/buc{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if pret_piesa2}}{{firstUpper pret_piesa2}} lei/buc{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if pret_piesa3}}{{firstUpper pret_piesa3}} lei/buc{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if pret_piesa4}}{{firstUpper pret_piesa4}} lei/buc{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
                <tr>
                    <th style="border:1px solid"></th>
                    <td style="border:1px solid">{{#if pret_piesa5}}{{firstUpper pret_piesa5}} lei/buc{{else}}Nu
                        exista{{/if}}
                    </td>
                    <th style='border:1px solid'></th>
                    <td style='border:1px solid'></td>
                </tr>
            </table>
        </div>
    </div>
</section>